html, body{
	/* height: 100% for the ryanfait sticky footer */
	height: 100%;
}

body{
	background: #e6e6e6;
	font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
	font-size: 15px;
	color: rgba(0,0,0,0);
}

header{
	padding: 15px 0;
}

h1, h2, h3{
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

p{
	font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: #000000;
	text-align: center;
}

ul, li{
	font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #000000;
	text-align: center;
}

.primary-game{
	width: 950px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.leftside-winning-stats{
	width: 450px;
	float:left;
}

#game-message{
	background-color:#ffffff;
	padding: 15px 25px 25px 25px;
	/* border: width style color; */
	border:1px solid #cccccc;
	border-radius: 7px;
}

.rightside-game-status{
	width: 500px;
	float:left;
}

#start-button{
	display: block;
	margin: auto;
}

#letter-spaces{
	letter-spacing: 7px;
}

.wrapper{
	min-height:100%;
	/*used -57px for bottom margin because the footer height is 57px*/
	margin: 0 auto -57px;
}

/* required for the ryanfait sticky footer. Defining the
push class height as anything greater than the footer height
ensures the content above the footer is (this height - footer height)
above the footer. However, if you want the content above the footer
to end directly flush with with top of the footer, this height
should equal the footer height. */
.push{
	height: 57px;
}

footer{
	/* these rgba values correspond to background-color: #404040
	final number indicates opacity; 0 = invisible, 1 = opaque*/
	background: rgba(64,64,64,1);
	font-size:12px;
	color: #f2f2f2;
	padding: 20px 0;
/* NORthwestern colors:;	RGB color: r = 078, g = 042, b = 132
Hexadecimal: 4E2A84*/
	border-top: 5px solid #4E2A84;
	text-align: center;	
}

.footer-link:link, .footer-link:visited, .footer-link:active{
	text-decoration: none;
	color: #f2f2f2;
}

.footer-link:hover{
	text-decoration: underline;
	background-color: lime;
}